body {
    background: url(../img/bg-desktop.svg)no-repeat;
    background-size: cover;
    background-color: var(--violet);
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    height: 100vh;

}

header {
    display: flex;
    justify-content: center;
}

.container {
    width: 1440px;
}

header .logo img {
    width: 220px;
    padding: 67px;
}

main {
    display: flex;
    justify-content: center;
}

main .container {
    display: flex;
    justify-content: space-between;
}

.container .ilustration{
    padding: 10px 73px;
}

.container .register {
    padding: 0px 20px;
    color: var(--white);
}

.container .title {
    text-align: left;
    text-transform: capitalize;
    font-size: 2.7rem;
    font-weight: 600;
}

.container .text {
    margin-top: 20px;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
}

.container .register .btn{
    margin-top: 20px;
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    color: var(--violet);
    font-size: 1.1rem;
}

.container .register .btn:hover{
  background-color: var(--soft-magenta);
  color: var(--white);
}

footer {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: flex-end;
    
}

.social i{
    margin-left: 10px;
    padding: 10px;
    font-size: 1.2rem;
    transition: 0.3s;
    border-radius: 50px;
    color: var(--white);
    border: 1px solid var(--white);
}

.social i:hover {
    color: var(--soft-magenta);
    border: 1px solid var(--soft-magenta);
}

